/* styles.css */

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* ================== End reset ==================== */

:root {
  --font-color: #1A1A1A;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.title-and-fields-container {
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 90%;
  color: var(--font-color)
}

.input-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 40%;
  gap: 50px;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 12px;
}

.login-card {
  background: white;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 32px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.actions-container {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 90px;
}

.logo {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

h1 {
  font-size: 45px;
  font-weight: 500;
}

h3 {
  font-size: 22px;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

label {
  text-align: left;
  font-size: 14px;
}

input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #000;
  border-radius: 5px;
  outline: none;
  width: 100%;
  transition: border-color 0.2s ease;
}

input:focus {
  border-color: #007BFF;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
}

.register-link {
  font-size: 16px;
  color: #007BFF;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

.login-button {
  background-color: #1669DD;
  color: white;
  border: none;
  padding: 14px 26px;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-button:hover {
  background-color: #0056b3;
}